
name: Build

on:
  push:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.9'


    # Yes, I know this is not version safe, but as we just use this "for linting" and do not produce any artifacts here, it is fine.
    - name: Install PlatformIO
      run: |
        python -m pip install --upgrade pip
        pip install -U platformio
    - name: Build PlatformIO project
      run: pio run